# Local dir settings
APP_PATH=/opt/app
DATA_PATH=/var/data
LOG_PATH=/var/log/runtime

### Container dir settings
# CONTAINER_APP_PATH=/opt/app
# CONTAINER_DATA_PATH=/var/data
# CONTAINER_LOG_PATH=/var/log/runtime

# passwd settings
MYSQL_ROOT_PASSWORD=
POSTGRESQL_ROOT_PASSWORD=
MONGO_ROOT_PASSWORD=

RABBITMQ_PASSWORD=

# China mirror setting
CHINA_MIRROR=false

# Timezone setting
DEFAULT_TIMEZONE=UTC
# DEFAULT_TIMEZONE=Asia/Shanghai

# PHP options
# - OPCache
WORKSPACE_ENABLE_OPCACHE=false
CRON_ENABLE_OPCACHE=false
PHP_FPM_ENABLE_OPCACHE=false
# - XDebug
WORKSPACE_ENABLE_XDEBUG=false
CRON_ENABLE_XDEBUG=false
PHP_FPM_ENABLE_XDEBUG=false
# - Imagick
PHP_EXT_IMAGICK=false
# - GD
PHP_EXT_GD=false
# - redis
PHP_EXT_REDIS=false
# - mcrypt
PHP_EXT_MCRYPT=false