
# Copyright (c) 2014, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error      = /var/logs/mysql/error.log
# By default we only accept connections from localhost
#bind-address   = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


### MASTER ###
# server-id = 1
# binlog_format = row
# expire_logs_days = 30
# max_binlog_size  = 100M
# gtid_mode = ON
# enforce_gtid_consistency = ON
# binlog-checksum = CRC32
# master-verify-checksum = 1
# log-bin = /var/logs/mysql/mysql-bin
# log_bin_index = /var/logs/mysql/mysql-bin.index
# log-slave-updates = ON

### SLAVE ###
# server-id = 3
# gtid_mode = ON
# enforce_gtid_consistency = ON
# log-slave-updates = ON
# skip-slave-start = true
# expire_logs_days = 30
# max_binlog_size  = 100M
# read_only = ON
# slave-sql-verify-checksum = 1
# log-bin = /var/logs/mysql/mysql-bin
# log_bin_index = /var/logs/mysql/mysql-bin.index
# relay-log = /var/logs/mysql/relay-log
# relay-log-index = /var/logs/mysql/relay-log-index
# relay-log-info-file = /var/logs/mysql/relay-log.info
# master-info-repository = table
# relay-log-info-repository = table
# relay-log-recovery = ON
# report-port = 3306
# report-host = 192.168.2.212
# replicate-do-db = master1
# replicate_wild_do_table=master1.%